.libro-box {
    display: inline-block;
    width: auto;
    position: relative;
    float: left;
    height: 250px;
    padding: 10px;
    margin: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 8px 1px rgba(158, 158, 158, 0.61);
}

.libro-box:hover {
    box-shadow: 0px 0px 8px 1px rgba(120, 120, 120, 0.61);
}

.libro-img {
    float: left;
}

.libro-img a img {
    max-width: 250px; 
    max-height: 250px;
    width: 100%;
    float: left;
    margin: 0 auto;
}

.libro-head {
    display: none;
    font-size: 15px;
    font-family: serif;
    text-align: left;
    float: left;
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.likes {
    float: left;
    width: 30px;
    height: 30px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position:center; 
    bottom: 0;
    text-align: center;
    padding-top: 10px;
    color: white;
    opacity: 0.5;
}

.likes:hover {
    opacity: 1;
}

a {
    text-decoration: none;
}

body {
    background-color: white;
}